@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Raleway:wght@800&family=Roboto+Mono:wght@300&display=swap');

:root {
    --top_h1: 15%;
    --mid_p: 15%;
}



.skill_container {
    height: 100vh;
    width: 100%;
    background-color: rgb(20, 20, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill_box {
    height: 66vh;
    width: 60vw;
    background-color: rgb(58, 58, 60);
    border-radius: 5px;
    box-shadow: 10px 10px 15px;
    overflow: hidden;
}

.skill_box h1 {
    height: var(--top_h1);
    width: 100%;
    /* background-color: blue; */
    text-align: center;
    padding-top: 20px;
    /* color: rgb(20, 20, 19); */
    color: white;
    text-shadow: 3px 3px 5px black;
    font-family: 'Raleway', sans-serif;
}

.skill_box p {
    height: var(--mid_p);
    color: rgb(20, 20, 19);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    /* background-color: rgb(201, 218, 218); */
}


.skills {
    height: calc(100% - calc(var(--top_h1) + var(--mid_p)));
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    overflow: hidden;
    position: relative;
}

.skills::after {
    content: "";
    height: 2px;
    width: 98%;
    position: absolute;
    top: -2px;
    box-shadow: 0px 2px 5px rgb(20, 20, 19);
}

.skills .skills_left {
    height: 100%;
    width: 10%;
    /* background-color: blueviolet; */
    position: relative;
}

.skills .skills_left::after {
    content: '';
    position: absolute;
    top: 2.5rem;
    right: 0;
    height: 15rem;
    width: 2px;
    background-color: rgb(20, 20, 19);
    border-radius: 25%;
}


.skills_left .skill_name {
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    text-shadow: 3px 3px 5px black;
    margin-top: 150%;
    font-family: 'Nunito', sans-serif;
    border-bottom: 3.5px solid rgb(255, 255, 255);
}


.skills .center {
    height: 100%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}


.box {
    background-color: rgb(20, 20, 19);
    height: 27%;
    width: 12%;
    margin: 30px 32px 25px;
    color: rgb(217, 218, 220);
    box-shadow: 3px 3px 5px rgb(20, 20, 19);
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
}

.box img {
    height: 38%;
    width: auto;
    margin-bottom: 15px;
}

.box:nth-child(9) img {
    height: 30%;
}

/* media queries */

@media only screen and (max-width: 1500px) {

    :root {
        --top_h1: 10%;
        --mid_p: 17%;
    }


    .skill_box {
        height: 70vh;
        width: 64vw;

    }

    .skill_box h1 {
        font-size: 2.4em;

    }

    .skill_box p {
        font-size: 1.3em;

    }


    .skills .skills_left::after {
        top: 6.5em;

    }


    .skills_left .skill_name {
        margin-top: 220%;

    }


    .skills .center {
        height: 100%;
        width: 92%;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        align-items: center;
        justify-content: center;
    }


    .box {
        margin: 3.5% 4%;
        height: 28%;
        width: 14%;
        font-size: 15px;

    }

    .box img {
        height: 35%;

    }
}

@media only screen and (max-width: 1300px) {

    .skills .skills_left::after{
        top: 15%;

    }


    .skills_left .skill_name {
        margin-top: 200%;

    }


    .box {
        margin: 5% 4%;
        height: 27%;
        width: 15%;
        font-size: 13px;

    }

    .box img {
        height: 34%;

    }

    .box:nth-child(9) img {
        height: 30%;
    }
}

@media only screen and (max-width: 1100px) {


    .skill_box h1 {
        font-size: 1.8em;
        padding-top: 15px;

    }

    .skill_box p {
        font-size: 1.2rem;

    }

    .skills .skills_left {
        width: 10%;

    }

    .skills .skills_left::after{
        top: 15%;

    }


    .skills_left .skill_name {
        margin-top: 250%;
    }


    .skills .center {
        width: 90%;

    }


    .box {

        margin: 5% 4%;
        height: 27%;
        width: 15%;

    }


}

@media only screen and (max-width: 950px) {


    .skill_box h1 {
        font-size: 1.8rem;
    }

    .skill_box p {
        font-size: 1.1em;

    }


    .skills .skills_left::after {
        height: 13rem;
        top: 20%;
    }


    .skills_left .skill_name {
        font-size: 1.3rem;
        margin-top: 250%;
    }


    .box {
        height: 26%;
        width: 17%;
        font-size: 12px;
        margin: 4.5% 4%;
    }

    .box img {
        height: 36%;

    }
}

@media only screen and (max-width: 800px) {


    .skill_box h1 {
        font-size: 1.7rem;
        height: 11%;
        padding-top: 15px;
    }

    .skill_box p {
        font-size: 1em;
    }


    .skills {
        height: 74%;

        flex-direction: column;
    }

    .skills::after {
        content: "";

        height: 2px;
        width: 100%;
        position: absolute;
        top: 10%;
        box-shadow: 0px 2px 5px rgb(20, 20, 19);
    }

    .skills .skills_left {
        width: 100%;

        height: 12%;
        position: relative;
        text-align: center;
    }

    .skills .skills_left::after {
 
        display: none;

    }


    .skills_left .skill_name {
        font-size: 1.3rem;
        transform: rotate(0deg);
        margin-top: 0%;

    }


    .skills .center {
        width: 100%;
        height: 88%;

    }


    .box {
        height: 29%;
        width: 18%;
        font-size: 12px;
        margin: 4% 5%;
    }

}

@media only screen and (max-width: 700px) {


    .skill_box {
        height: 72vh;
        width: 65vw;

    }

    .skill_box h1 {
        font-size: 1.5rem;
        height: 6%;
        padding-top: 8px;

    }

    .skill_box p {
        font-size: 1em;
        height: 21%;

    }


    .skills {
        height: 73%;

    }




    .skills .skills_left::after {
 
        display: none;

    }


    .skills_left .skill_name {
        font-size: 1.3rem;

    }


    .skills .center {
        width: 100%;
        height: 88%;

    }

    .skills .center::-webkit-scrollbar {
        display: none;
    }


    .box {
        height: 26%;
        font-size: 12px;
        width: 22%;
        margin: 4% 4%;

    }

}

@media only screen and (max-width: 520px) {


    .skill_box {
        height: 80vh;
        width: 75vw;

    }

    .skill_box h1 {
        font-size: 1.6em;

    }

    .skill_box p {
        font-size: 1em;
    }



    .skills .center {
        height: 88%;
        width: 100%;
    }


    .box {
        height: 26%;
        width: 22%;
        margin: 4% 5%;
        font-size: 10.5px;

    }

    .box img {
        height: 35%;

    }
}

@media only screen and (max-width: 440px) {

    .skill_box {
        height: 80vh;
        width: 80vw;
    }

    .skill_box h1 {
        font-size: 0.9em;
        height: 6%;

    }

    .skill_box p {
        font-size: 1em;
        height: 24%;

    }


    .skills {
        height: 70%;

    }



    .skills_left .skill_name {
        font-size: 1.2rem;
    }


    .box {
        height: 27%;
        width: 30%;
        margin: 4% 6%;

    }

}

@media only screen and (max-width:350px) {

    .skill_box h1 {
        font-size: 20px;
        height: 5%;
    }

    .skill_box p {

        height: 30%;
  
    }


    .skills {
        height: 65%;

    }




    .skills_left .skill_name {
        font-size: 1.15rem;
    }




    .box {
        height: 32%;
        width: 35%;
        margin: 4% 7%;

    }

}

@media only screen and (max-width:300px) {


    .skill_box h1 {

        height: 5%;

    }

    .skill_box p {
        font-size: 11px;
        height: 30%;

    }


    .skills {
        height: 65%;

    }




    .skills_left .skill_name {
        font-size: 1.15rem;

    }



    .box {
        height: 28%;
        width: 37%;
        margin: 4% 6%;

    }

}
