.exp_container{
    height: 100vh;
    width: 100%;
    background-color: rgb(20, 20, 19);
    overflow: hidden;
}

.exp_container h1{
    color: rgb(217, 218, 220);
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    margin-top: 80px ;
    margin-bottom: 50px;
    text-align: center;
}